<?xml version="1.0"?>
<!--
/**
 * Copyright © DMLab. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dmlab_customer_passkey>
            <general>
                <enabled>0</enabled>
                <user_verification>preferred</user_verification>
                <authenticator_attachment>any</authenticator_attachment>
                <timeout>60000</timeout>
                <allow_passwordless>1</allow_passwordless>
            </general>
        </dmlab_customer_passkey>
    </default>
</config>
